/*article specific*/

#article {
    background-image: url("../images/snowyf.jpg");
    background-position: bottom;
}

#article-body {
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: rgb(207, 202, 202);
    width: 20%;
}

p {  /*gives text a background color that is transpaant */
    background-color: rgb(207, 202, 202);
    width: 30%;
    padding: .5em;
}

article p {
    background-color: rgb(207, 202, 202);
    width: 50%;
}

@media only screen and (max-width:786px) {   /* removes background img to prevent endless images scrolling in background*/
    #article {
        background-image: none;
    }

    article p, h1, p {  /*removes background img and stretches text*/
        background-color: rgba(151, 151, 151, 0.904);
        width: 100%;
    }
}