div {
    display: flex;
    flex-direction: row;
}

/* Img Formatting */
img {
    width: 80%;
    margin-bottom: 2em;
}


/*text formatting */
p {
    float: none;
    width: 50%;
}

figcaption {
    font-size: 85%;
}

@media only screen and (max-width: 360px) { /* expands text to take up whole screen*/
    div {
        flex-direction: column;
    }
    
    p {
        width: 100%;
    }
    
    img {
        width: 100%;
    }

}