/* img formatting */
#index-img {
    width: 25%;
    min-width: 25%;
    margin-top: 1em;
    margin-right: 2em;
    float: left;
}

/*text formatting */
section {
    justify-content: center;
}

p {
    width: 80%;
}

@media only screen and (max-width: 360px) { /* expands text to take up whole screen*/
    #index-img {
        width: 40%
    }

    p {
        width: 100%;
    }
}